
<nav>
    <div class="nav-wrapper teal lighten-2">
      <h2 class="header">cl<i class="fa fa-cloud"></i>
      udapp</h2>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn">Create a new appointment.</a>

      </ul>
      <ul class="side-nav" id="mobile-demo">
      <a class="waves-effect waves-light btn">Create a new appointment.</a>
    </div>
  </nav>
<div class="patients">
  <%= @appointments %>

</div>
