/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";


h2.header {
  font-family: Futura;
  float: left;
  margin-left: 35px;
  color: #424242;
}

p.tagline {
  text-align: center;
  font-family: Palatino;
  font-size: 70px;
  color: #2196f3;
  line-height: 90%;
  letter-spacing: -2px;
}

span.tag {
  color: #424242;
}

div.logins {
  text-align: center;
  color: #2196f3;
  font-family: Futura;
  font-size: 12px;
}

.loginbutton {
  text-align: center;
}

.waves-effect {
  border-radius: 500px;
}

input[type=text]:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

input[type=email]:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

input[type=password]:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}
