<%=form_for @appointment do |f|%>

<h1>Create Your Appointment</h1>
  <p>
    Start Time
    <%= f.datetime_field :start_time %>
  </p>
  <p>
    End Time
  <%= f.datetime_field :end_time %>
  </p>
  <%= f.submit "Create Appointment"%>
<% end %>
