<!DOCTYPE html>
<html>
<head>
  <title>cloudapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2 class="header">cl<i class="fa fa-cloud"></i>
udapp</h2>


<%= yield %>
</div>


</body>
</html>
